body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  background-image: linear-gradient(45deg, #f7f7f4 25%, transparent 25%, transparent 50%, #f7f7f4 50%, #f7f7f4 75%, transparent 75%, transparent);
  background-size: 50px 50px;

  background-color: #ffffff;
  background-position: 0 0, 25px 25px;
  background-attachment: fixed;
 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  animation: slide 2s linear infinite;
  animation-direction :normal



}

/*change gradient colors animation*/

@keyframes slide {
  from {
    background-position: 0 0, 25px 25px;
  }
  to {
    background-position: -100px 0, 75px 25px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


::selection {
  background:#31CCCC;
  color: #ffffff;
}

.game{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}


.disabled {
  filter: blur(5px);
  pointer-events: none;
}

.Joining-text{
  font-size: 1.5rem;
  font-weight: 600;
  color: #31CCCC;
  overflow : hidden;
  white-space: nowrap;
  letter-spacing: .15em;

}

 .Joining-points {
  animation: 
    typing 1s  infinite;
}




@keyframes typing {
  from { width: 0 }
  to { width: 5% }
}



.blinking-text{
  background-color: #0000009c;
  color: #ffffff;
  border-right: 0.15em solid #000000;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation:
    typing_ 10s alternate infinite ,
    blink-caret_ .75s step-end infinite;

  }

  @keyframes typing_ {
   
    20% {
      background-color: #0000009c;
      color: #ffffff;
      border-right-color: #ffffff;
    }
    40% {
      background-color : #31ccccbb;
      color: #ffffff;
      border-right-color: #ffffff;

    }
    60% {
      background-color : rgba(0, 128, 128, 0.678);
      color: #ffffff;
      border-right-color: #ffffff;

    }
    80% {
      background-color: #0088b1b0;
      color: #ffffff;
      border-right-color: #ffffff;

    }
    
    100% {
      background-color: #5600c78a ;
      color: #ffffff;
      border-right-color: #ffffff;

    }
    


  }

  @keyframes blink-caret_ {
    from, to { border-color: transparent }
    50% { border-color: #000000; }
  }



  .error{
    background-color: tomato;
    color: #ffffff;
    border-right: 0.15em solid #ffffff;
    white-space: nowrap;
    letter-spacing: 0.15em;
    }